.list-table-format{
display: grid;
width: 1150px;
grid-template-columns: 0.5fr 1fr 1fr 1.2fr 1fr 1fr 0.5fr;
align-items: center;
gap: 10px;
padding: 12px 10px;
margin-bottom: 5px;
border: 1px solid #cacaca;
font-size: 18px;
}
.list-table-format.title{
background-color: #f9f9f9;
}
.list-table-format img{
width: 60px;
}
@media (max-width:600px) {
.list-table-format{
grid-template-columns: 1fr 3fr 1fr;
gap: 15px;
}
.list-table-format.title{
display: none;
}
}
.headlist{
  font-size: 33px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}
.cursor{
  padding: 5px;
  cursor: pointer;
}
.cursor:hover{
    background-color: rgba(138, 135, 135, 0.644);
    width: fit-content;
    height: fit-content;
    border-radius: 45%;
    color: #f9f9f9;
}